<template>
  <div>
    <b-container style="padding: 20px 40px 20px 40px">
      <b-row>
        <b-col lg="8">
          <carousel />
        </b-col>
        <b-col lg="4">
          <b-card
            header-class="cardHeaderStyle"
            body-class="cardBodyStyle"
            header="LA MOTIVATION DU JOUR"
            img-alt="Image"
            img-top
          >
            <img :src="images.home1" style="width:100%; max-height:250px" />
            {{ motivationText }}
          </b-card>
        </b-col>
      </b-row>
      <b-row class="sectionStyle">
          <b-col md="8">
            <b-row>
              <b-col md="12">
                <flashinfo></flashinfo>
              </b-col>
              <b-col md="12">Actualité KBJ Academy</b-col>
              <b-col md="6">Le mot du directeur</b-col>
              <b-col md="6">Boutique (carousel)</b-col>
            </b-row>
            <b-row>
              <b-col md="12">KBJ TV</b-col>
            </b-row>
          </b-col>
          <b-col md="4">
            <b-row>
              <b-col md="12">Menu contacts</b-col>
              <b-col md="12">Newsletter</b-col>
              <b-col md="12">Pretations de service</b-col>
              <b-col md="12">Agenda</b-col>
            </b-row>
          </b-col>
        </b-row>
    </b-container>
  </div>
</template>

<script>
import carousel from "@/components/carousel.vue";
import flashinfo from "@/components/flashinfo.vue";

export default {
  name: "Home",
  components: {
    carousel,
    flashinfo,
  },
  data() {
    return {
      motivationText:
        "LA VIE EST UN LONG TRAJET DONT NUL NE CONNAIT D'AVANCE SA DESTINATION; ET, LE TEMPS PASSE NE REVIENT pLUS JAMAIS. CHAQUE PETIT PAS EST UNE OPPORTUNITE ET UN... LIRE LA SUITE",
        images: {
          home1: require('../assets/home1.jpg')
        }
    };
  },
};
</script>

<style scoped>
.cardHeaderStyle {
  background-color: #ffa126;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  padding: 5px;
  letter-spacing: 0.1rem;
}
.cardBodyStyle {
  background-color: #2ea045;
  color: #ffffff;
  font-weight: bold;
}
.sectionStyle {
  margin-top: 20px
}
</style>
