<template>
  <b-navbar toggleable="lg" type="dark" variant="success">
    <b-navbar-brand href="#">NavBar</b-navbar-brand>

    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    <b-collapse is-nav>
      <b-navbar-nav fill>
        <b-nav-item v-for="item in menu" :key="item.route" :to="{name: item.route}" href="#">
            {{item.title}}
        </b-nav-item>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</template>
<script>
// import navigation from '@/router/navigation/index'

export default {
    name: 'navbar',
    data() {
        return {
            isFilled: true,
            menu: [{
                    title: 'Accueil',
                    route: 'apps-home',
                },
                {
                    title: 'Présentation',
                    route: 'apps-presentation',
                },
                {
                    title: 'Catalogues',
                    route: 'apps-catalog',
                },
                {
                    title: 'Publications',
                    route: 'apps-publication',
                },
                {
                    title: 'Media',
                    route: 'apps-media',
                },
            ]
        }
    },
    components: {

    },
    setup() {
        
        return {
            
        }
    },
}
</script>