<template>
  <div>
    <b-carousel
      id="carousel-1"
      v-model="slide"
      :interval="4000"
      controls
      indicators
      background="#ababab"
      img-width="1024"
      img-height="400"
      style="text-shadow: 1px 1px 2px #333;"
      @sliding-start="onSlideStart"
      @sliding-end="onSlideEnd"
    >
      <b-carousel-slide
      v-for="item in images" :key="item"
       :img-src="item"></b-carousel-slide>
    </b-carousel>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        slide: 0,
        sliding: null,
        images: [require('../assets/carousel/c1.jpg'), require('../assets/carousel/c2.jpg')]
      }
    },
    methods: {
      onSlideStart(slide) {
        this.sliding = slide
      },
      onSlideEnd(slide) {
        this.sliding = slide
      }
    }
  }
</script>