<template>
  <div class="flash">
    <b-row>
      <b-col sm="2" class="flash-title">FLASH INFO</b-col>
      <b-col sm="10" class="flash-content"><marquee behavior="scroll">LES CICATRICES DU DESTIN BIENTOT AU CINEMA UN FILM INSPIRE DU ROMAN DE L'ECRIVAIN KBJ</marquee></b-col>
    </b-row>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        slide: 0,
        sliding: null
      }
    },
    methods: {
      onSlideStart(slide) {
        this.sliding = slide
      },
      onSlideEnd(slide) {
        this.sliding = slide
      }
    }
  }
</script>

<style scoped>
  .flash .flash-title {
    background-color: #99989A;
    color: #FFFFFF;
    padding: 10px;
    text-align: center;
  }
  .flash .flash-content {
    background-color: #E4E3E3;
    color: #000000;
    padding: 10px 0 0 10px;
  }
</style>