<template>
  <div id="app">
    <fullpage />
  </div>
</template>
<script>
import fullpage from '@/layouts/fullpage.vue'
export default {
  components: {
    fullpage
  }
}
</script>
<style>
  body {
    background: #2A2A2E
  }
</style>
