<template>
    <b-row>
        <b-col md="4">
            BLOC A
        </b-col>
        <b-col md="4">
            BLOC B
        </b-col>
        <b-col md="4">
            BLOC C
        </b-col>
    </b-row>
</template>