<template>
  <div class="app-header">
    <b-row>
      <b-col md="12">
          <div class="app-top-header">

          </div>
      </b-col>
      <b-col md="12">
        <navbar />
      </b-col>
    </b-row>
  </div>
</template>
<script>
import navbar from '@/components/navbar/navbar';

export default {
    name: 'app-header',
    data() {
        return {

        }
    },
    components: {
        navbar
    },
    setup() {
        return {
            
        }
    },
}
</script>

<style scoped>
.app-header {
  display: block;
  background-color: #cbd2d1;
  padding: 10px 40px 0 40px;
}
.app-top-header {
    min-height: 100px
}
</style>