<template>
    <div class="container">
        <AppHeader></AppHeader>
        <router-view />
        <AppFooter></AppFooter>
    </div>
</template>

<script>
import AppHeader from '@/layouts/app-header.vue'
import AppFooter from '@/layouts/app-footer.vue'

export default {
    data() {
        return {

        }
    },
    components: {
        AppHeader,
        AppFooter,
    },
    setup() {
        
    },
}
</script>
<style>
  body {
    background-color: #2A2A2E!important;
  }
  .container {
    background-color: #FFFFFF!important;
  }
</style>
